@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  color: #ffff;
  font-weight: 200;
}

.navigationBar ul {
  display: flex;
  list-style: none;
  gap: 70px;
}

.navigationBar ul li {
  display: inline;
}

.navigationBar ul li a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.navigationBar ul li a:hover {
  text-decoration: underline;
}

.navSocials {
  display: flex;
  gap: 20px;
}

.navSocials img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.heroSection {
  min-height: 100vh;
  background-color: black;
  color: white;

} 

.heroSectionText {
  width: 536px;
  padding-top: 201px;
}

.heroSectionImage {
  padding-top: 150px;

}

.personalImage {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  object-fit: scale-down;
}

.heroSectionContainer {
  display: flex;
  margin-left: 550px;
}

.heroSectionMainText {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  padding: 10px 0 10px 0;
  font-weight: 800;
}


.heroSectionSubText {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400; /* Regular */
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px; /* 1% of font size */
  text-align: justify;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #9C9C9C;
}

.heroSectionButton {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  gap: 10px;
  padding: 21px 64px;
  border-radius: 4px;
  background-color: #3F8E00;
  border: solid 1px #62BA1B;
  color: white;
}

.vector {
  padding: 0;
  margin: 0;
}

.heroMentions {
  margin: 109px 550px;
}


.mentionsCards {
  margin-top: 20px;
}